# ================================
# macOS & System Files
# ================================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# ================================
# Xcode & Build Files
# ================================
build/
DerivedData/
*.xcworkspace/
*.xcuserstate
*.xcscmblueprint
wx.xcodeproj/xcuserdata/
# ================================
# Swift Package Manager
# ================================
.swiftpm
Package.resolved
.build/
